<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TV shows based on Comic Books</title>
  <link id="switchtheme" rel='stylesheet' type="text/css" href="/stylesheets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
</head>
<body>

<div class="header">
<h1>
<span class="main-heading">Comic book TV shows
</h1>
  <section class="login">
  <% if logged_in? %>
    <p>logged in as <%= current_user.email %></p>
    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
    <button>logout</button>
    </form>
  <% else %>
    <a href="/login">login</a>
    <br>
    <a href='/signup'>signup</a>
  <% end %>
  </section>
</span>
</div>

<h2>
  TV shows currently on air based on comic books
</h2>

<nav>
  
  <div class="header-nav">
    
    <div class="nav-group">
    <li><a href="/">HOME</a></li>
    <li><a href="/suggestions">SUGGESTIONS</a></li>
    <% if logged_in? && current_user.admin? %>
    <li><a href="/new">ADD SHOW</a></li>
    <% end %>
    </div>

    <div class="btn-group">
    <button id= "switchTheme" onclick="setStyleSheet('/stylesheets/blue.css')">blue</button>
    <button id= "switchTheme" onclick="setStyleSheet('/stylesheets/bw.css')">B&W</button>
    <button id= "switchTheme" onclick="setStyleSheet('/stylesheets/main.css')">yellow</button>
    </div>
  
  </div>

</nav>

<%= yield %>

<script type="text/javascript" src="/javascripts/application.js"></script>

</body>
</html>