<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Comic books based TV shows</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
</head>
<body>

  <h1>Comic book TV shows</h1>
  <h2>TV shows currently on air based on comic books</h2>

  <%# <nav bar> with HOME, LOGIN/SIGNUP, SUGGESTIONS, THEME SWITCHER %>





  <%= yield %>

</body>
</html>