<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TV shows based on Comic Books</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
</head>
<body>

<h1>
  <span class="main-heading">Comic book TV shows</span>
</h1>

<h2>
  <span class="sec-heading">TV shows currently on air based on comic books</span>
</h2>

<nav>
  <ul class="header-nav">
    <li><a href="/">HOME</a></li>
    <li><a href="/login">LOGIN</a></li>
    <li><a href="/signup">SIGNUP</a></li>
    <li><a href="/suggestions">SUGGESTIONS</a></li>
    <% if logged_in? && current_user.admin? %>
    <li><a href="/new">ADD SHOW</a></li>
    <% end %>
    <li><a href="/">ARCHIVE</a></li>
    <li><a href="/">THEME SWITCHER</a></li>
  </ul>
</nav>

<main>
  <% if logged_in? %>
    logged in as <%= current_user.email %>
    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
    <button>logout</button>
    </form>
  <% else %>
    <a href="/login">login</a>
  <% end %>
<br>
</main>


<%= yield %>

</body>
</html>