
<h3> Login... </h3>

<div class="login-page">

<form action="/session" method="post">

  <p><label for="">Email address: </label>
  <input type="email" name="email"></p>
  <p><label for="">Password: </label>
  <input type="password" name="password"></p>

  <button>Welcome back!</button>

</form>
<br>
<br>
<a href="/signup">or go to our Signup here!</a>

</div>