<h2> Signup / Login </h2>

<form action="/session" method="post">

  <label for="">Email address: </label>
  <input type="email" name="email">

  <label for="">Password: </label>
  <input type="password" name="password">

  <button>Submit!</button>

</form>