<h3>Add a new show here...</h3>

<form action="/shows" method="post">

  <label for="">Show title:</label>
  <input name="title" type="text">

  <label for="">On air since:</label>
  <input name="year" type="text">

  <label for="">Image URL:</label>
  <input name="image_url" type="text">

  <label for="">Show description:</label>
  <input name="body" type="text">

  <button>ADD!!</button>

</form>