<h3>Add a new show here...</h3>

<div class="login-page">

<form action="/shows" method="post">

  <p><label for="">Show title:</label>
  <input name="title" type="text"></p>

  <p><label for="">On air since:</label>
  <input name="year" type="text"></p>

  <p><label for="">Image URL:</label>
  <input name="image_url" type="text"></p>

  <p><label for="">Show description:</label>
  <input name="body" type="text"></p>

  <button>ADD!!</button>

</form>

</div>