<h2>Suggestions</h2>

<h3> Post your suggestions on what other shows you would like to see on this website: </h3>

<form action="/suggestions" method="post">

  <label for="">Suggestion: </label>
  <textarea name="body" cols="20" rows="5"></textarea>
  <button>Post!</button>

</form>

<% @suggestions.each do |suggestion| %>

  <p><%= suggestion["body"] %></p>

  <form action="/suggestions/<%= suggestion.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Be gone!</button>
  </form>

<% end %>