<div class="suggestions">

<h3> Suggestions</h3>

<p>Tell us what other shows would you like to see here?</p>

<div class="suggestion-table">
<br>
<form action="/suggestions" method="post">
  <textarea name="body" cols="30" rows="10"></textarea>
  <br>
  <button>Post!</button>
</form>

<% @suggestions.each do |suggestion| %>

  <p><%= suggestion["body"] %></p>

  <form action="/suggestions/<%= suggestion.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Be gone!</button>
  </form>

<% end %>
</div>

</div>