* {
  font-family: 'Bangers', cursive;
  box-sizing: border-box;
}

body {
  background-image: url("/stylesheets/images/yellow_comic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: red;
  font-size: 100px;
  margin: 0 auto;
  letter-spacing: 8px;
  text-shadow: 7px 7px 1px rgba(0, 145, 255);
}

.login a {
  font-size: 30px;
  text-decoration: none;
  letter-spacing: 1px;
  color: red;
  text-shadow: -1px 0 black, 0 0.5px black, 1px 0 black, 0 -1px black;
}

.login a:hover {
  text-shadow: 2px 2px 1px rgba(0, 145, 255);
}

.login p {
  font-size: 18px;
}

.login button {
  padding: 8px 8px;
  letter-spacing: 1px;
  font-size: 15px;
  color: red;
  background-color: rgba(0, 145, 255);
  border: 1px solid black;
}

.login button:hover {
  box-shadow: 0px 0px 50px rgba(0, 145, 255, 1);
}

h2 {
  text-align: center;
  color: red;
  font-size: 50px;
  letter-spacing: 5px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-group {
  text-decoration: none;
  color: red;
}

.nav-group li {
  display: inline-flex;
  padding: 10px;
  letter-spacing: 1px;
  background-color: rgba(0, 145, 255);
  border-radius: 10px;
}

.nav-group li:hover {
  background-color: red;
  box-shadow: 0px 0px 50px rgba(0, 145, 255, 1);
}

.nav-group a {
  text-decoration: none;
  font-size: 30px;
  color: red;
}

.nav-group a:hover {
  color: rgba(0, 145, 255);
}

.btn-group button {
  padding: 10px;
  letter-spacing: 1px;
  font-size: 30px;
  color: red;
  background-color: rgba(0, 145, 255);
  border-radius: 10px;
}

.btn-group button:hover {
  background-color: red;
  color: rgba(0, 145, 255);
  box-shadow: 0px 0px 50px rgba(0, 145, 255, 1);
}

.shows-layout {
  display: flex;
  height: 100%;
  padding: 50px;
  align-content: flex-start;
  overflow: scroll;
  align-items: stretch;
}

.shows-layout img {
  height:100%;
  width: 320px;
  display: block;
}

.shows-layout img:hover {
  box-shadow: 0px 0px 50px rgba(0, 145, 255, 1);
}

h3 {
  text-align: center;
  color: red;
  font-size: 60px;
  margin: 0 auto;
  padding: 20px;
  letter-spacing: 5px;
  text-shadow: 5px 5px 1px rgba(0, 145, 255);
}

.single-show img {
  display: block;
  margin: auto;
}

.single-show p {
  font-size: 40px;
  letter-spacing: 0.5px;
}

.single-show button {
  padding: 10px 10px;
  letter-spacing: 1px;
  font-size: 25px;
  color: red;
  background-color: rgba(0, 145, 255);
  border: 1px solid black;
}

.single-show button:hover {
  box-shadow: 0px 0px 10px rgba(0, 145, 255, 1);
}

.single-show form {
  text-align: center;
}

.comments {
  text-align: center;
  border: 1px solid black;
  border-bottom: 0;
  background-color: rgba(0, 145, 255, 0.5);
}

.comments p {
  font-size: 30px;
}

.comments button {
  padding: 8px 8px;
  letter-spacing: 1px;
  font-size: 18px;
  color: red;
  background-color: rgba(0, 145, 255);
  border: 1px solid black;
}

.suggestions p {
  font-size: 30px;
  text-align: center;
}

.suggestion-table {
  text-align: center;
  border: 1px solid black;
  border-bottom: 0;
  background-color: rgba(0, 145, 255, 0.5);
}

.suggestion-table button {
  padding: 8px 8px;
  letter-spacing: 1px;
  font-size: 18px;
  color: red;
  background-color: rgba(0, 145, 255);
  border: 1px solid black;
}

.login-page p {
  font-size: 40px;
}

.login-page button {
  padding: 8px 8px;
  letter-spacing: 1px;
  font-size: 18px;
  color: red;
  background-color: rgba(0, 145, 255);
  border: 1px solid black;
}

.login-page button:hover {
  box-shadow: 0px 0px 10px rgba(0, 145, 255, 1);
}

.login-page a {
  font-size: 30px;
  text-decoration: none;
  letter-spacing: 1px;
  color: red;
  text-shadow: -1px 0 black, 0 0.5px black, 1px 0 black, 0 -1px black;
}

.login-page a:hover {
  text-shadow: 2px 2px 1px rgba(0, 145, 255);
}

.error-page p {
  font-size: 30px;
  text-align: center;
}

.error-page a {
  text-decoration: none;
  color: red;
  text-shadow: -1px 0 black, 0 0.5px black, 1px 0 black, 0 -1px black;
}

.error-page a:hover {
  text-shadow: 2px 2px 1px rgba(0, 145, 255);
}

textarea {
  font-size: 20px;
}